body {
	margin:0;
	padding:0;
	font-size:10px;
	background-image:url(img/bg.jpg);
	background-repeat:repeat-y
}

.frame720x405 {
	background-image: url(720x405.jpg);
	height: 443px;
	width: 741px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 18px;
	padding-left: 19px;
}

#header {
	width:900px;
	height:168px;
	position:relative;
	background-image: url(img/header.png);
	background-repeat: no-repeat;
	border-radius:15px;
	margin: 0;
}

.clear {
	clear:both;
}

#vk_like {
	float:right;
	width:350px;
}

.fb-like {
	float:left;
	padding-left:50px;
	margin-left:200px;
	width:200px;	
}

#support {
	font-family:Verdana;
	font-size:14px;
	text-align:justify;
	padding-left:50px;
	padding-right:45px;
	float:left;
	width:380px;
}

#support1 {
	font-family:Verdana;
	font-size:14px;
	text-align:justify;
	padding-left:50px;
	padding-right:45px;
	float:right;
	width:320px;
}

#content {
	width:900px;
	margin:30px auto 25px auto;
	background-color:#ffffff;
	padding:0 0 0 0;
	border:1px solid #cccccc;
	border-radius:15px;
}

#vk_comments {
	margin-left:45px;
	float:left
}

.fb-comments {
	margin-right:45px;
	float:right;
}

.clear {
	clear:both;
}

.frame720x405 {
	background-image: url(img/720x405.jpg);
	height: 443px;
	width: 741px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 18px;
	padding-left: 19px;
}

.slogan {
	font-weight: 250;
	font-size: 30px;
	line-height: 35px;
	margin-left: -5px;
	letter-spacing: 0.2px;
	text-align: center;
}
.slogan span {
	font-size: 50px;
	font-weight: 500;
	letter-spacing: 4px;
	text-transform:uppercase;
	text-align: center;
}

h1 {
	text-align:center;
	color:#cc0000;
	font:bold 30px Arial;
}

p {
	font-family:Verdana;
	font-size:16px;
	text-align:justify;
	line-height:1.4;
	padding-left:50px;
	padding-right:45px;
}

p.cen  {
	text-align:center;
}

p.big {
	color: #487790;
	font-size: 25px;
	font-weight: bold;
	padding: 10px 0 0 0;
}

p.copy {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-align:center;
	margin:2px;
}

.myLink {
	background:#FFFFCD;
	border:1px dashed #C2AC5F;
	width:850px;
	margin:0 auto;
	border-radius:5px;
}

.letter {
	background:#D5EAFF;
	border:1px dashed #aaa;
	width:850px;
	margin:0 auto;
	border-radius:5px;
}

.linkus {
	color:#0F0FFF;
	text-decoration:underline;
}

.lit {
	font-size:13px;
}

p a {
	text-decoration:none;
	border-bottom: none;
}

a:link {
	color:#c41919;
}

a:visited {
	color:#047ABE;
}

a:hover {
	color:#047ABE;
	border-bottom:0px solid #047ABE;
	text-decoration:none;
}

.nobor a {
	border:none;
} 
