header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
margin:0;
padding:0;
}
body{
	margin:0;
	color:#4f5660;
	font:16px/1.375 Verdana, Arial, Helvetica, sans-serif;
	background:#eee;
}
p{margin:0 0 22px;}
img {border-style:none;}
a{
	text-decoration:none;
	color:#4f5660;
}
a:hover{text-decoration:underline;}
a:active {background-color:transparent;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
	margin:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
form,
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
input[type=submit]:hover{cursor:pointer;}
.alignleft{float:left;}
.alignright{float:right;}
.aligncenter{
	display:block;
	margin:0 auto;
}
#wrapper{
	width:100%;
	overflow:hidden;
}
.w1{
	width:994px;
	margin:0 auto;
}
#header{
	padding:15px 0 41px;
	overflow:hidden;
}
.logo{
	width:206px;
	height:65px;
	background:url(../images/logo.gif) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	float:right;
	margin:3px 0 0;
}
.logo a{
	display:block;
 	height:100%;
}
#header h1{
	float:left;
	max-width:750px;
	font-size:41px;
	color:#000;
	margin:0;
	font:42px 'Open Sans', Arial, Helvetica, sans-serif;
}
.intro-text h1{
	color:#4f5660;
	text-shadow:0 1px 1px #fff;
	margin:0 0 -2px;
	font:42px 'Open Sans', Arial, Helvetica, sans-serif;
}
.intro-text h1 strong{
	color:#65bc46;
}
.intro-text h1 .medium{
	font-size:92px;
	letter-spacing:0.5px;
}
.intro-text h1 .big{
	font-size:212px;
	line-height:212px;
	display:inline-block;
	vertical-align:top;
	margin:-36px 0 -16px -14px;
}
.section h1{
	color:#65bc46;
	margin:0 0 48px;
	letter-spacing:-1.4px;
	font:700 78px/78px 'Open Sans', Arial, Helvetica, sans-serif;
}
.section-counter h1{
	color:#65bc46;
	margin:0 0 18px;
	letter-spacing:-2px;
	font:69px/75px 'Open Sans', Arial, Helvetica, sans-serif;
}
.section-counter h2{
	margin:0 0 40px;
	letter-spacing:-2px;
	font:143px/150px 'Open Sans', Arial, Helvetica, sans-serif;
}
.results-section h1{
	font-size:44px;
	line-height:49px;
	margin:0 0 6px;
}
.section h1.small{
	font-size:76px;
}
.section h1.small-2{
	font-size:76px;
	letter-spacing:-4px;
}
.section h2{
	margin:-40px 0 65px;
	font:39px/45px 'Open Sans', Arial, Helvetica, sans-serif;
}
.list-testimonials h2{
	margin:0 0 1px;
}
.list-testimonials h2 a{text-decoration:underline;}
.list-testimonials h2 a:hover{text-decoration:none;}
.box-grey-2 h2{
	margin:0;
	line-height:53px;
	text-transform:uppercase;
}
.list-mythologies h2{
	color:#525358;
	margin:0 0 16px;
	line-height:45px;
}
.list-mythologies .all h2{
	color:#fff;
	overflow:hidden;
	margin-top:22px;
	font-size:38px;
}
.section-packages h1{
	text-align:center;
	margin:0 0 17px;
	text-transform:uppercase;
	font:53px/56px 'Open Sans', Arial, Helvetica, sans-serif;
}
.packages2 h1{color:#65bc46;}
h3{
	margin:0 0 1px;
	font-size:25px;
	line-height:26px;
	font-weight:normal;
}
.list-mythologies h3{
	font-size:20px;
	text-align:right;
	width:226px;
	margin:4px 14px 0 0;
	line-height:30px;
	font-style:italic;
	float:left;
}
.list-examples h3 a{
	color:#65bc46;
	text-decoration:underline;
}
.list-examples h3 a:hover{text-decoration:none;}
.intro-text .center{
	display:inline-block;
	vertical-align:top;
	width:849px;
	text-align:center;
	font-size:47px;
	line-height:48px;
}
.button-holder{
	padding:83px 9999px 71px;
	margin:0 -9999px;
	text-align:center;
	background:url(../images/main-divider.png) no-repeat 50% 0;
}
.button{
	display:inline-block;
	border:0;
	color:#fff;
	font:31px 'Open Sans', Arial, Helvetica, sans-serif;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);
	padding:12px 17px;
	background:#71cc50 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxY2M1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YWFkM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #71cc50 0%, #5aad3c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71cc50), color-stop(100%,#5aad3c));
	background: -webkit-linear-gradient(top,  #71cc50 0%,#5aad3c 100%);
	background: -o-linear-gradient(top,  #71cc50 0%,#5aad3c 100%);
	background: -ms-linear-gradient(top,  #71cc50 0%,#5aad3c 100%);
	background: linear-gradient(to bottom,  #71cc50 0%,#5aad3c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71cc50', endColorstr='#5aad3c',GradientType=0 );
	box-shadow:5px 5px 5px rgba(0,0,0, 0.4);	-webkit-box-shadow:5px 5px 5px rgba(0,0,0, 0.4);	-moz-box-shadow:5px 5px 5px rgba(0,0,0, 0.4);
	cursor:pointer;
}
.packages .button{
	display:block;
	padding:11px 17px;
	text-align:center;
}
.button:hover{
	text-decoration:none;
	background:#7ef762 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlZjc2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NWM5NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7ef762 0%, #55c946 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ef762), color-stop(100%,#55c946));
	background: -webkit-linear-gradient(top,  #7ef762 0%,#55c946 100%);
	background: -o-linear-gradient(top,  #7ef762 0%,#55c946 100%);
	background: -ms-linear-gradient(top,  #7ef762 0%,#55c946 100%);
	background: linear-gradient(to bottom,  #7ef762 0%,#55c946 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ef762', endColorstr='#55c946',GradientType=0 );
}
.button:active{
	background:#3e752e url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNlNzUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjQyMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #3e752e 0%, #1f4217 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e752e), color-stop(100%,#1f4217));
	background: -webkit-linear-gradient(top,  #3e752e 0%,#1f4217 100%);
	background: -o-linear-gradient(top,  #3e752e 0%,#1f4217 100%);
	background: -ms-linear-gradient(top,  #3e752e 0%,#1f4217 100%);
	background: linear-gradient(to bottom,  #3e752e 0%,#1f4217 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e752e', endColorstr='#1f4217',GradientType=0 );
}
.results-section{
	text-align:center;
	padding:0 9999px 161px;
	margin:0 -9999px 28px;
	background:url(../images/main-divider.png) no-repeat 50% 100%;
	font:22px/31px 'Open Sans', Arial, Helvetica, sans-serif;
}
.list-results{
	padding:0;	margin:0 0 28px;	list-style:none;
	overflow:hidden;
	text-align:left;
}
.list-results li{
	float:left;
	padding:8px 0 0 62px;
	width:231px;
	margin-left:10px;
	min-height:92px;
	background:url(../images/icons-1.png) no-repeat 0 -890px;
}
.list-results li.last-child{width:285px;}
.list-results li:first-child{
	margin:0;
	width:272px;
}
.block-video{
	width:851px;
	margin:0 auto 53px;
}
.results-icons ul{
	padding:0;	margin:0;	list-style:none;
	display:table;
	width:100%;
}
.results-icons li{
	display:table-cell;
	vertical-align:middle;
	text-align:right;
}
.results-icons li:first-child{text-align:left;}
.results-icons img{vertical-align:top;}
.results-icons .title{
	display:block;
	margin-bottom:33px;
}
.knoweledge-list{	margin:0 0 50px;
	padding:0;	list-style:none;
	background:#525358;
	width:100%;
	display:table;
	color:#fff;
	font:22px/31px 'Open Sans', Arial, Helvetica, sans-serif;
}
.knoweledge-list li{
	display:table-cell;
	vertical-align:top;
	padding:115px 0 39px;
	width:25%;
}
.short.knoweledge-list li{
	width:33.33%;
	padding-top:39px;
}
.knoweledge-list li:first-child{padding-top:77px;}
.short.knoweledge-list li:first-child{padding-top:75px;}
.knoweledge-list li.second{
	background:#73747a;
	padding-top:54px;
}
.short.knoweledge-list li.second{padding-top:115px;}
.knoweledge-list li.fourth{
	background:#444449;
	padding-top:29px;
}
.knoweledge-list .item{
	display:block;
	-webkit-box-shadow: 3px 4px 18px rgba(0,0,0,.75);
	-moz-box-shadow: 3px 4px 18px rgba(0,0,0,.75);
	box-shadow: 3px 4px 18px rgba(0,0,0,.75);
	height: 133px;
	padding:50px 10px 16px 100px;
	background:#65bc46 url(../images/icons-1.png) no-repeat -262px -584px;
}
.short.knoweledge-list .item{
	padding-top:30px;
	height:153px;
	background-position:-696px -124px;
}
.knoweledge-list li:first-child .item{
	background-position:-75px -761px;
}
.short.knoweledge-list li:first-child .item{
	background-position:-528px -309px;
} 
.knoweledge-list li.second .item{
	background-position:-160px -675px;
}
.short.knoweledge-list li.second .item{
	background-position:-612px -220px;
} 
.knoweledge-list li.fourth .item{
	background-position:-361px -495px;
}
.block-questions{	list-style:none;
	position:relative;
	background:url(../images/bg-block-questions.png) no-repeat 6px 19px;
	margin:0 -10px 44px;
	padding:0 10px;
	height:400px;
	font-weight:bold;
	font-style:italic;
}
.block-questions li{
	position:absolute;
	top:210px;
	left:170px;
	width:190px;	
}
.block-questions li:first-child{
	top:65px;
	left:52px
}
.block-questions li.third{
	top:107px;
	left:299px
}
.block-questions li.fourth{
	top:279px;
	left:448px
}
.block-questions li.fifth{
	top:53px;
	left:536px
}
.block-questions li.sixth{
	top:209px;
	left:675px
}
.block-questions li.seventh{
	top:93px;
	left:801px
}
.list-items{
	padding:0;	margin:-5px 390px 5px 115px;	list-style:none;
}
.list-items li{
	padding:5px 0 17px 67px;
	min-height:40px;
	background:url(../images/icons-1.png) no-repeat -470px -429px;
}
.box-grey{padding:40px 0 58px;}
.box-grey .inner{
	background:#525358;
	color:#fff;
	font:40px/45px 'Open Sans', Arial, Helvetica, sans-serif;
	padding:26px 33px 13px;
}
.box-grey .title{
	display:block;
	text-transform:uppercase;
	font-weight:normal;
	color:#65bc46;
}
.box-grey .mark{color:#65bc46;}
.visual{
	display:block;
	margin-bottom:-8px;
}
.list-advantages{
	padding:0 60px 24px 122px;	margin:0;	list-style:none;
}
.list-advantages li{
	padding:6px 0 12px 59px;
	background:url(../images/icons-2.png) no-repeat -59px -485px;
}
.list-advantages li:first-child{background-position:0 -552px;}
.list-advantages li.time{background-position:-123px -413px;}
.list-advantages li.profi{background-position:-185px -347px;}
.list-advantages li.solutions{background-position:-253px -273px;}
.list-advantages li.community{background-position:-316px -199px;}
.list-advantages li.mentors{background-position:-375px -132px;}
.list-advantages li.team{background-position:-432px -70px;}
.list-advantages li.guarantee{background-position:-484px -5px;}
.listing{
	padding:0 40px 40px 92px;	margin:0;	list-style:none;
}
.listing li{
	padding:0 0 22px 18px;
	position:relative;
}
.listing li:before{
	position:absolute;	left:0;	top:8px;	width: 9px;
	height: 9px;
	border-radius:5px;	-moz-border-radius:5px;	-webkit-border-radius:5px;	content:"";
	background:#65bc46;
}
.section-packages{
	margin:0 -9999px 67px;
	padding:39px 9999px 32px;
	background:#525358;
	color:#fff;
}
.packages{
	padding:0;	margin:0 0 37px;	list-style:none;
	width:100%;
	color:#4f5660;
}
.packages:after{
	display:block;	clear:both;	content:"";
}
.packages > li{
	float:left;
	width:474px;
	margin-left:45px;
	padding-bottom:146px;
	background:#fff;
	position:relative;
}
.packages > li:first-child{margin:0;}
.packages .heading{
	background:#65bc46;
	color:#fff;
	padding:23px 84px 23px;
	font-size:40px;
	line-height:44px;
	margin-bottom:27px;
}
.packages .heading .price{
	display:block;
	font-size:60px;
	line-height:67px;
}
.packages .rouble{
	font-family: 'PT Sans', serif;
}
.packages ul{
	padding:0 40px 0 84px;	margin:0;	list-style:none;
}
.packages ul li{
	position:relative;
	padding:0 0 4px 10px;
}
.list-examples .listing li:before,
.packages ul li:before{
	position:absolute;	left:0;	top:11px;
	border-radius:2px;	-moz-border-radius:2px;	-webkit-border-radius:2px;
	background:#6e737b;	width:4px;	height:4px;	content:"";
}
.list-reasons li:before{
	background:#4f5650;
	top:12px;
}
.packages .bottom-block{
	position:absolute;
	left:80px;
	right:60px;
	bottom:0;
}
.packages .bottom-block .title{
	display:block;
	color:#6e737b;
	margin-bottom:23px;
	font:40px/45px 'Open Sans', Arial, Helvetica, sans-serif;
}
.agree{
	overflow:hidden;
	font-size:15px;
}
.agree .alignleft{
	margin:0 4px 0 0;
}
.agree .text{
	display:block;
	overflow:hidden;
	margin:5px 0 0;
}
.agree a{color:#fff;}
.list-mythologies{
	padding:19px 0 0;	margin:0;	list-style:none;
}
.list-mythologies > li{
	position:relative;
	background:#fff;
	margin-bottom:65px;
}
.list-mythologies > li:after{
	position:absolute;	left:0;	top:100%;	width:994px;	height:21px;
	background:url(../images/bg-shadow-mythologies.gif) no-repeat;	content:"";
}
.list-mythologies .heading{
	overflow:hidden;
	background:#c8cacd;
	font-weight:bold;
	font-style:italic;
	color:#fff;
	font-size:15px;
	margin-bottom:21px;
	line-height:22px;
	height:225px;
	padding:16px 10px 1px 83px;
}
.all .heading{
	background:#65bc46;
	height:auto;
	margin-bottom:39px;
}
.list-mythologies .heading a{
	color:#fff;
	text-decoration:underline;
}
.list-mythologies .heading a:hover{text-decoration:none;}
.list-mythologies .quotes{
	float:left;
	color:#eee;
	width:150px;
	margin:-102px 11px -24px 0;
	font:272px/272px 'Open Sans', Arial, Helvetica, sans-serif;
}
.list-mythologies .text-block{
	float:right;
	width:395px;
}
.list-mythologies .text-section{
	height:1%;
	padding:0 115px 21px 5px;
}
.all .text-section{padding:0 45px 60px 5px;}
.list-mythologies .text-section:after{
	display:block;	clear:both;	content:"";
}
.list-mythologies .alignleft{
	margin:-239px 10px 0 0;
}
.list-mythologies blockquote{
	float:right;
	width:280px;
	margin:0;
}
.all blockquote{
	width:193px;
	margin-top:83px;
}
.list-mythologies .list-visual{
	float:left;
	padding:0;	margin:10px 0 0 37px;	list-style:none;
}
.list-mythologies .list-visual li{
	float:left;
	margin-right:7px;
}
.list-mythologies .list-visual img{margin:0;}
.list-examples{
	padding:0 165px 115px 181px;	margin:0;	list-style:none;
}
.box-example{
	padding:20px 165px 36px 181px;
}
.list-examples > li{
	padding:182px 9999px 15px;
	margin:0 -9999px -115px;
	background:url(../images/main-divider.png) no-repeat 50% 0;
}
.list-examples > li:first-child{
	background:none;
	padding-top:9px;
}
.list-examples .image-block{
	-webkit-box-shadow: 0 7px 7px rgba(0,0,0,.35);
	-moz-box-shadow: 0 7px 7px rgba(0,0,0,.35);
	box-shadow: 0 7px 7px rgba(0,0,0,.35);
	margin:0 auto 36px;
}
.list-examples .image-block img{display:block;}
.list-examples p{margin-bottom:30px;}
.list-examples .listing{padding:0 0 45px;}
.list-examples .listing li{padding:0 0 4px 9px;}
.box-grey-2{
	background:#525358;
	color:#65bc46;
	padding:65px 32px 70px;
	margin-bottom:134px;
}
.box-example .box-green{
	-webkit-box-shadow: 0 7px 7px rgba(0,0,0,.35);
	-moz-box-shadow: 0 7px 7px rgba(0,0,0,.35);
	box-shadow: 0 7px 7px rgba(0,0,0,.35);
	width: 661px;
	height: 480px;
	background:#65bc46;
	font-size:25px;
	color:#fff;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
.box-example .listing{
	padding:36px 0 10px;
	font:30px/34px 'Open Sans', Arial, Helvetica, sans-serif;
}
.box-example .listing li{padding-left:23px;}
.box-example .listing li:before{
	width:10px;
	height:10px;
	border-radius:5px;	-moz-border-radius:5px;	-webkit-border-radius:5px;
	background:#6e737b;
	top:13px;
}
.section-examples{padding-bottom:16px;}
.section .aligncenter{margin-bottom:34px;}
.steps .aligncenter{margin-bottom:83px;}
.block-video-2{
	width:638px;
	margin:0 auto 34px;
}
.list-testimonials{
	padding:2px 0 0;	margin:0;	list-style:none;
}
.list-testimonials li{
	overflow:hidden;
	padding:0 9999px 101px;
	margin:0 -9999px -30px;
	background:url(../images/main-divider.png) no-repeat 50% 100%;
}
.list-testimonials .block-visual{
	float:left;
	width:190px;
	margin:7px 22px 0 0;
	text-align:center;
}
.list-testimonials .text-block{
	overflow:hidden;
}
.list-testimonials .block-visual .holder{
	border:4px solid #fff;
	display:inline-block;
}
.list-testimonials .block-visual img{display:block;}
.list-testimonials .title{
	display:block;
	margin-bottom:35px;
}
.list-video{
	padding:0;	margin:-76px auto 213px;	list-style:none;
	width:638px;
}
.list-video li{
	padding:175px 9999px 0;
	margin:0 -9999px -72px;
	background:url(../images/main-divider.png) no-repeat 50% 0;
}
.list-video li:first-child{background:none;}
.list-reasons{
	padding:20px 80px 24px 184px;	margin:0;
	font-size:22px;
	line-height:30px;	list-style:none;
}
.list-reasons li{padding-bottom:30px;}
.block-action{
	position:relative;
	text-align:center;
	padding:30px 0 92px;
	font:26px/28px 'Open Sans', Arial, Helvetica, sans-serif;
}
.block-action:after{
	position:absolute;	left:50%;
	margin:-78px 0 0 -60px;
	background:url(../images/icons-1.png) no-repeat;	top:100%;	width:119px;	height:112px;	content:"";
}
.flip-clock-wrapper:after{
	display:block;	clear:both;	content:"";
}
