@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&amp;subset=latin,cyrillic-ext);


html, body, div, input, button, textarea, img, a, p, h1, h2, h3, h4, h5, h6, iframe, table, tr, td {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
	}
	
@media only screen and (max-width: 980px) {
	#container{
		width: 960px;
		}
	}
	
@media only screen and (min-width: 1940px) {
	#container{
		width: 1920px;
		}
	}
	
* {
	position: relative;
	}

body {
	font-family: "PT Sans", sans-serif;
	}
	
*::selection {
    background: #434343;
	color: #ff0;
}

*::-moz-selection {
    background: #434343;
	color: #ff0;
}
	
html, body, div {
	padding: 0px;
	margin: 0px;
	}

.page_block {
	width: 960px;
	margin: 0 auto;
	clear: both;
}

button:not(#close_btn) {
	background: none;
	border: 0px;
}

/*input[type=text], textarea{
	width: 284px;
	height: 38px;
	border: 0px;
	margin-bottom: 20px;
	padding: 10px;
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	outline:none;
	-webkit-box-shadow: inset 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 1px 5px rgba(50, 50, 50, 0.75);
}

input[type=text]:focus, textarea:focus{
	border:#35a5e5 1px solid;
	box-shadow: inset 0px 1px 5px rgba(50, 50, 50, 0.75), 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: inset 0px 1px 5px rgba(50, 50, 50, 0.75), 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: inset 0px 1px 5px rgba(50, 50, 50, 0.75), 0 0 5px rgba(81, 203, 238, 1);
}*/

input[type=text], textarea{
	height: 30px;
	padding: 10 0 0 0;
	font-size: 13px;
	margin: 0 auto;
	width: 300px;
}

a, a:active, a:visited {
	text-decoration: underline;
	color: #00B8D9;
}

a:hover {
	text-decoration: none;
	}
	
#container {
	margin: 0 auto;
	}
	
#heady {
	height: 160px;
	background-image: url("img/heady_bg.jpg");
	background-position: center top;
	background-size: 1920px;
	}
	
#conty h3:not(#help_title) {
	font-weight: 300;
	font-size: 21px;
	}
	
#conty h1{
	font-size: 30px;
	}
	
#conty p {
	font-weight: 300;
	font-size: 16px;
	}
	
#steps {
	width: 940px;
	height: 52px;
	background-image: url("img/steps.jpg");
	background-size: 100% 100%;
	margin: 0 auto;
	}
	
#steps2 {
	width: 940px;
	height: 52px;
	background-image: url("img/steps2.jpg");
	background-size: 100% 100%;
	margin: 0 auto;
	}
	
#steps3 {
	width: 940px;
	height: 52px;
	background-image: url("img/steps3.jpg");
	background-size: 100% 100%;
	margin: 0 auto;
	}
	
#conty span {
	font-family: arial;
	}
	
#pay_div {
	margin: 0 auto;
	}
	
#pay_div img {
	z-index: 10;
	margin-left: 15px;
	margin-right: 15px;
	}
	
#webmoney_div {
	
	margin: 0 auto;
	text-align: center;
	}
	
#webmoney_div img {
	z-index: 10;
	margin-left: 15px;
	margin-right: 15px;
	}
		
.clear {
	clear: both;
	}
	
.divider {
	width: 940px;
	margin: 0 auto;
	height: 1px;
	background-color: #000;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
.form_zagolovok {
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
}

	.theform {
		width: 460px;
		background: #f3f3f3;
		border: 2px solid #e1e1e1;
		font-size: 16px;
		margin: 0 auto 40px auto;
		line-height: normal;
		padding-bottom: 20px;
	}

	.theform label {
		font-weight: 700;
		line-height: 22px;
	}
			.form_header {
				height: 29px;
				border-bottom: 2px solid #e1e1e1;
				background: #f4ac45;
				text-align: center;
				color:#fff;
				font-size: 18px;
				font-weight: 700;
				padding-top: 4px;
				text-transform: uppercase;
			}

			.div_input_form {
				padding: 10px 0 0 0;
			}

			.inputs_form {width:290px; height:20px; background:#FFFFFF; border:1px solid #dfdfdf; padding: 4px 11px;}

			.form_submit input {
				width: 300px;
				height:45px;
				background: url(img/button2.png) left top no-repeat;
				text-indent: -99999px;
				border:0;
				cursor: pointer;
				margin-left:7px;
			}

			.form_submit input:hover {
				background: url(img/button2.png) left bottom no-repeat;
			}


.bg_but {
	position: relative;
	width: 800px;
	height: 125px;
	background: url(img/bg_but.html) left top no-repeat;
	margin: 20px auto;
	font-size: 20px;
	text-transform: uppercase;
}


.theform .label_none {
	font-weight: 400;
	font-size: 15px;
	text-transform: none;
	color: #252525;
}

.theform input[type="radio"] {
	-webkit-appearance: radio; -moz-appearance:radio;
	z-index: 998;
}

.theform input[type="radio"] {
 display:none;
 cursor: pointer;

 }

.theform input[type="radio"] + label {
 	cursor: pointer;
 	margin:0;
 	padding: 0;
 }

.theform input[type="radio"] + label span.radio {
 display:inline-block;
 width:20px;
 height:20px;
 margin-bottom: -5px;
 padding-right: 10px;
 background:url(img/radio.png) left top no-repeat;

 }

.theform input[type="radio"]:checked + label span.radio {
 background-position:left bottom;
 }



.back_knopki {
	position: relative;
	width: 780px;
	height: 125px;
	margin: 20px auto;
	background: url(img/back_knopki.png) left top no-repeat;
}


.ponlaja_knopka {
	display: block;
	width: 300px;
	height: 45px;
	background: url(img/ponlaja_knopka.png) left top no-repeat;
	position: absolute;
	left:40px;
	top:55px;

}

.ponlaja_knopka:hover {
	background-position:left bottom;
}

.neponlaja_knopka {
	display: block;
	width: 300px;
	height: 45px;
	background: url(img/neponlaja_knopka.png) left top no-repeat;
	position: absolute;
	right:35px;
	top:55px;
}

.neponlaja_knopka:hover {
	background-position:left bottom;
}

input {-webkit-appearance: none; -moz-appearance:none; border-radius:0; -webkit-border-radius:0;}
input, textarea {
outline: none; }

#help_title {
	font-weight: 300;
	font-size: 18px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
#black {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	cursor: pointer;
	z-index: 991;
	}
	
#popup {
	width: 720px;
	height: 430px;
	top: 100px;
	margin: 0 auto;
	position: fixed;
	z-index: 992;
	margin-left: 120px;
	
	}
	
	#popup iframe {
		width: 720px;
		height: 400px;
		top: 0px;
		left: 0px;
		right: 0px;
		position: absolute;
		z-index: 993;
		}
		
	#close_btn {
		width: 30px;
		height: 30px;
		position: absolute;
		z-index: 995;
		top: -15px;
		right: -15px;
		background-color: #fff;
		line-height: 30px;
		text-align: center;
		color: #000;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border: 1px solid grey;
		font-size: 30px;
		cursor: pointer;
		}
		
		
		
		
#order_form {
	width: 600px;
	margin: 0 auto;
	}
	
	#order_form td{
		padding-top: 10px;
		padding-bottom: 10px;
		}
		
	#order_form input, #order_form textarea {
		height: 30px;
		border: 1px solid #b4ceff;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		padding-left: 10px;
		font-size: 16px;
		}
		
	#order_form input.button {
		border: 0px;
		outline: 0px;
		width: 282px;
		height: 41px;
		background-image: url('img/btn.png');
		background-size: 100% 100%;
		margin: 0 auto;
		color: transparent;
		font-size: 0px;
		}
		
	.label1, .label2, .label3 {
		float: left;
		text-align: center;
		top: -20px;
		color: #666666;
		}
		
	.label1 {
		left: 30px;
		}
		
	.label2 {
		left: 65px;
		}
		
	.label3 {
		left: 170px;
		}
		

		
#pay_info {
	width: 940px;
	margin: 0 auto;
	}
	
	#pay_info p {
		font-size: 18px;
		}
	
	#cart {
		width: 260px;
		height: 397px;
		background-image: url("img/cart.png");
		background-size: 100% 100%;
		position: absolute;
		right: 0px;
		top: -86px;
		}
		

		
		
		
#toMain {
	cursor: pointer;
	width: 300px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1005;
	background: #fff;
	opacity: 0;
	}
	
#toMain:hover {
	opacity: 0.2;
	}
	
#form_act {
	width: 300px;
	height:45px;
	cursor: pointer;
	background: #f4ad45!important;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom: 3px solid #b38547!important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#form_act:active {
	top: 3px;
	border: 0px!important;
}

/* --- */

#toMain {
	cursor: pointer;
	width: 300px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1005;
	background: #fff;
	opacity: 0;
	}
	
#toMain:hover {
	opacity: 0.2;
	}
	
	
#new_popup {
	width: 704px;
	height: 170px;
	margin: 0 auto;
	z-index: 1230;
	background: url('img/new_popup_bg.jpg');
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #d9d9d9;
}

#new_popup .form_group {
	float: left;
	width: 189px;
	margin-right: 23px;
}

.form_group input[type=text] {
	width: 189px;
	height: 36px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 2px solid #a6a6a6;
	border-right: 1px solid #a6a6a6;
	outline: 0;
	padding-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#new_popup span {
	font-weight: bold;
	font-size: 22px;
	}
	
#new_popup label {
	font-weight: bold;
	font-size: 14px;
	color: #414141;
	cursor: pointer;
	}
	
#new_popup button {
	width: 292px;
	height: 40px;
	margin: 0 auto;
	background: #3e96cf;
	font-size: 21px;
	color: #fff;
	cursor: pointer;
	}
#new_popup button:active {
	margin-top: 2px;
	margin-left: 1px;
	}
	
#bar0 {
	width: 940px;
	height: 52px;
	background: url('img/bar.png');
	background-size: 100% 100%;
	margin: 0 auto;
	}